@use "./partials/variables" as *;
@use "./partials/transitions";
@use "bootstrap/scss/bootstrap";

// Impotrazione di FontAwsome
// @use "@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: fantasy;
  color: $text-color;
 background-image: url("https://wallpaperaccess.com/full/637645.jpg");
 background-size: contain;

}